PORT=8080

#Twilio integration information
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''
TWILIO_TO_PHONE_NUMBER=''
TWILIO_FROM_PHONE_NUMBER=''

#Slack integration information
SLACK_TOKEN=''
SLACK_CONVERSATION_ID=''
